<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoadDatabase.Properties.Settings.Db_TankConnectionString"
            connectionString="Data Source=127.0.0.1678;Initial Catalog=Db_Tank;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="RoadDatabase.Properties.Settings.Db_TankConnectionString3"
            connectionString="Data Source=TESTSERVER567;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="RoadDatabase.Properties.Settings.RoadDBConnectionString"
            connectionString="Data Source=|DataDirectory|\RoadDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="RoadDatabase.Properties.Settings.Db7roadConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Db_7road;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="RoadDatabase.Properties.Settings.Db_7roadConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Db_7road;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="RoadDatabase.Properties.Settings.Db_TankConnectionString1"
            connectionString="Data Source=TESTSERVERsdf;Initial Catalog=Db_Tank;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="RoadDatabase.Properties.Settings.Db_TankConnectionString2"
            connectionString="Data Source=TESTSERVERsdf;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="RoadDatabase.Properties.Settings.Db_TankConnectionString4"
            connectionString="Data Source=TESTSERVER;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="RoadDatabase.Properties.Settings.Db_TankConnectionString5"
            connectionString="Data Source=127.0.0.1;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>