<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ServerID" value="1"/>
		<!--interface-->
		<add key="LoginIP" value="127.0.0.1|121.10.143.74|121.10.143.61|121.10.143.59|121.10.143.58|221.5.43.74|221.5.43.61|221.5.43.59|221.5.43.58"/>
		<add key="LoginKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="LoginUrl" value="http://127.0.0.1:828/CreateLogin.aspx"/>
		<add key="LoginOnUrl" value="http://web.4399.com"/>
		<add key="FlashUrl" value="http://127.0.0.1:840/Default.aspx"/>
		<add key="ValidateUrl" value="http://web.4399.com/api/game/passport.php"/>
		<add key="Edition" value="0"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
