<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--interface-->
		<add key="Site" value="false"/>
		<add key="SiteTitle" value="弹弹堂4"/>
		<add key="LoginKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="LoginKey_a" value="aaaa-16-WAN-0668-2555555-7ROAD-dandantang-love777"/>
		<add key="LoginUrl" value="http://127.0.0.1:728/createlogin.aspx"/>
		<add key="LoginOnUrl" value="http://udblogin.duowan.com/ddt/ddt_login.jsp"/>
		<add key="FlashUrl" value="http://127.0.0.1/gamegunny/index.aspx"/>
		<add key="Edition" value="0"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<sessionState timeout="5"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<customErrors mode="On" defaultRedirect="Error.htm">
			<error statusCode="403" redirect="AccessError.htm"/>
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
